.reestr-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reestr__header-title {
  font-weight: 700;
  font-size: 2.25em;
}
.reestr__header-control {
  display: flex;
  gap: 20px;
}
.reestr-filter {
  background-image: url('../../../../../public/assets/images/filter.svg');
}
.reestr-settings {
  background-image: url('../../../../../public/assets/images//three-dots-vertical.svg');
}
.reestr__content-header {
  display: flex;
  gap: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #009cb4;
  font-weight: 500;
}
.registration-number,
.softs-name {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sort-button {
  background-image: url('../../../../../public/assets/images//sort-arrow.svg');
  width: 24px;
  height: 24px;
}
.reestr-data-list {
  list-style-type: none;
}
.reestr-data-row {
  display: flex;
  gap: 60px;
  padding: 20px 0;
  align-items: flex-start;
}
.registration-number {
  width: 188px;
}
.softs-name {
  width: 267px;
}
.code-class {
  width: 57px;
}
.softs-class {
  width: 173px;
}
.date-registration {
  width: 108px;
}
.softs-link {
  width: 77px;
}
