*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: 'Manrope', sans-serif;
}

#root {
  height: 100%;
}
.container {
  width: 1400px;
  padding-left: 115px;
  padding-right: 115px;
  background-color: #fbfbfb;
  margin-left: auto;
  margin-right: auto;
}
.button-32 {
  border: none;
  width: 32px;
  height: 32px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
}
.pad-top-bottom {
  padding-top: 80px;
  padding-bottom: 80px;
}
