*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: 'Manrope', sans-serif;
}

#root {
  height: 100%;
}
